table, th, td {
  border: 1px solid gray;
}

#container {
  width: 600px;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  padding: 20px;
}

img {
  width: 200px;
  height: 200px;
}

#red img{
  float: left;
  margin: 22px 22px 0 22px;
}

#red{
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#salad{
  border: 1px solid #ccc;
  padding-left: 10px;
  margin-bottom: 10px;
}

#salad img{
  float: right;
  height: 150px;
}

#composition{
  border: 1px solid #ccc;
  padding-left: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

iframe{
  margin-bottom: 10px;
}

table{
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto 10px auto;

}

th{
  background-color: antiquewhite;
}

#col1{
  background-color: #ccc;
}